.loader {
    height: 101vh;
    font-size: var(--font-size-huge);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    padding: 2rem;
    background: var(--color-background-blur);
    border-top: 1px solid var(--color-primary-accent);
    text-align: center;
    font-size: 0.9rem;
}
.footerContent p{
    color: var(--color-text-secondary)
}
